.container {
  height: 92vh;
  width: 97vw;
  background: linear-gradient(to top, #339af0, #40c057);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border:#099268 15px solid; */
}

.content {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  color: #fff;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}